<h2>Sepetim</h2>
<div class="cart-container">
  <div class="cart-page-content">
    <div class="cart-items-container">
      <ul class="cart-items">
        <ng-container *ngIf="itemList().length>0 else emptyCart;">
          <cart-item *ngFor="let item of itemList()"
                     [value]="item"></cart-item>
        </ng-container>
        <ng-template #emptyCart>
          <div>Spetinizde ürün Bulunmamaktadır.</div>
        </ng-template>

      </ul>
    </div>
  </div>
</div>


<div *ngIf="itemList().length>0">
  Sepet Toplam Tutar: {{totalPrice()}}
</div>
